{% extends "base_generic.html" %}

{% block content %}

User: {{ user.get_username }} <br>
<a href="{% url 'logout'%}?next={{request.path}}">Logout</a> <br><br>

{% if latest_question_list %}
<ul>
		<b>parkint lot # {{lot_id}}:</b> <br>
		*** <br>
		name: {{lot_name}} <br>
		hours: {{lot_hours}} <br>
		Address: <br>
		{{lot_address|linebreaksbr}}
		***	<br>


		spot # | status | date occupied | link to book this spot <br>
		(o for "occupied"; n for "not occupied")<br>

		{% for question in latest_question_list %}
		<li>spot # {{question.spot_number}} | {{question.spot_occupancy}} | {{question.booked_date}} | <a href="{% url 'parking:book' question.spot_number %}"><u>Click here to book!</u></a> </li>
		{% endfor %} <br><br>

</ul>
{% else %}
<p>No parkings are available.</p>
{% endif %}

{% endblock %}


