{% extends "base_generic.html" %}

{% block content %}
User: {{ user.get_username }} <br>
<a href="{% url 'logout'%}?next={{request.path}}">Logout</a> <br><br>


<h1>Reserved spots</h1>

{% if bookinstance_list %}
<ul>
		<b>my spots:</b> <br>
		{% for bookinst in bookinstance_list %} 
		<li>parking lot: {{bookinst.lot_id.lot_name}} | <a href="{% url 'parking:detail' bookinst.lot_id.lot_id %}">spot # {{bookinst.spot_number}}</a> | {{bookinst.spot_occupancy}} | {{bookinst.spot_availabiliy}}</li>
		{% endfor %}
</ul>

{% else %}
<p>There are no spots borrowed.</p>
{% endif %}       
{% endblock %}
